<ion-app>
  <ion-menu side= "start" content-id="menu" name="Menu">
    <ion-content>
            <ion-list>
              <ion-item>
                <ion-icon name="add-circle-outline" slot="start"></ion-icon>
                <ion-label>Add new profile</ion-label>
              </ion-item>
            </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="menu"></ion-router-outlet>
  <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Medical Reminder</ion-title>
        </ion-toolbar>
      </ion-header>
    </div>
</ion-app>
