<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="profiles[0]==null" else #conditionFalse >
    <strong>Are you a new user?</strong>
    <p>Start by adding a new profile!</p>
  <p>
    <ion-fab horizontal="center">
      <ion-fab-button [routerLink]="['/add-profile']">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </p>
  </div>

  <ion-list class="ion-no-margin ion-no-padding" *ngFor="let item of profiles" #conditionFalse>
    <ion-list-header>
    <strong>Upcoming appointments:</strong>
    </ion-list-header>
    <ion-item>
          <ion-avatar slot="start">
            <img src="./assets/icon/favicon.png">
          </ion-avatar>
          <ion-label>
            <h2>12/12/20</h2>
            <h3>Vaccino</h3>
            <h4>Antitetanica</h4>
          </ion-label>
        </ion-item>
  </ion-list>

</ion-content>
