<ion-content [fullscreen]="true">
  <ion-header>
     <ion-toolbar>
       <ion-buttons slot="start">
         <ion-menu-button></ion-menu-button>
       </ion-buttons>
       <ion-title>Medical Reminder</ion-title>
     </ion-toolbar>
   </ion-header>

  <ion-router-outlet id="menu">
  </ion-router-outlet>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-menu side= "start" content-id="menu" name="Menu">
    <ion-content>
          <ion-list>
            <ion-menu-toggle>
              <!-- Quando viene aggiunto un profilo, viene inserito qui -->
              <ion-item *ngFor="let item of profiles">
                <ion-avatar slot="start"><!-- Immagine del profilo --></ion-avatar>

                <ion-button (click)="updateProfile(item)" slot="end">
                  <ion-icon name="pencil"></ion-icon>
                </ion-button>
                <ion-button (click)="deleteProfile(item)" slot="end">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>

                {{item.name}} {{item.surname}}
              </ion-item>

              <ion-item [routerLink]="['/add-profile']">
                <ion-icon name="add-circle-outline" slot="start"></ion-icon>
                <ion-label>Add new profile</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
    </ion-content>
   <ion-footer>
    <ion-toolbar>
      <ion-button slot="end" (click)=logoutClicked()><ion-icon name="log-out-outline"></ion-icon> Logout</ion-button>
    </ion-toolbar>
   </ion-footer>
  </ion-menu>

  <div id="new"  *ngIf="!profiles || profiles.length===0 else conditionFalse">
    <strong>Are you a new user?</strong>
    <p id="start">Start by adding a new profile!</p>
  <p>
    <ion-fab horizontal="center">
      <ion-fab-button [routerLink]="['/add-profile']">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </p>
  </div>

<ng-template #conditionFalse>
  <div>
  <ion-list>

    <ion-list-header>
    <strong>Upcoming appointments:</strong>
    </ion-list-header>
      <ion-item-sliding *ngFor="let item of appointments">
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="presentAlertConfirm(item)">DELETE</ion-item-option>
        </ion-item-options>

        <ion-item>
          <ion-avatar slot="start">
            <img src="./assets/icon/favicon.png">
          </ion-avatar>
          <ion-label>
            <h2>{{item.profile}}</h2>
            <h2>{{item.date}}</h2>
            <h3>{{item.title}}</h3>
            <p>{{item.description}}</p>
          </ion-label>

        </ion-item>
      </ion-item-sliding>

        <ion-item lines="none">
          <br><br><br><br><br><br>
          <ion-fab horizontal="center">
            <ion-fab-button [routerLink]="['/add-appoint']">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>

        </ion-item>

  </ion-list>
  </div>
</ng-template>
</ion-content>
