<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="profiles[0]==null" else #conditionFalse >
    <strong>Are you a new user?</strong>
    <p>Start by adding a new profile!</p>
  <p>
    <ion-fab horizontal="center">
      <ion-fab-button [routerLink]="['/add-profile']">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </p>
  </div>

  <ion-item *ngFor="let item of profiles" #conditionFalse>
    {{item}}
  </ion-item>

</ion-content>
