<ion-header translucent>
      <ion-toolbar>
        <ion-title>Create Appointment</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content fullscreen>
      <ion-list lines="full" class="ion-no-margin ion-no-padding">

          <ion-item>
            <ion-label position="stacked">Title <ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="text" placeholder="Insert Title"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Descriptions</ion-label>
            <ion-input type="text" placeholder="Insert Description"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Place</ion-label>
            <ion-input type="text" placeholder="Insert Place"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Time</ion-label>
            <ion-input type="text" placeholder="Insert Time"></ion-input>
          </ion-item>

        </ion-list>

        <ion-button expand="block" type="submit" class="ion-no-margin">Add Appointment</ion-button>
        <ion-button expand="block" type="submit" class="ion-no-margin" size="small" fill="clear">Cancel</ion-button>
     </ion-content>
