<ion-header translucent>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Username</ion-label>
    <ion-input type="text"  name="username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Password</ion-label>
    <ion-input type="password" name="password"></ion-input>
  </ion-item>
  <ion-button type="submit">Sign in</ion-button>
  <ion-button expand="block" type="submit" class="ion-no-margin" size="small" fill="clear" [routerLink]="['/login']">Back to login page</ion-button>
</ion-content>
